.pagina {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E0EFFE;
}

.titulo-site {
    margin: 0 auto;
    text-align: center;
}

.h1-cadastro, .h4-cadastro, .formulario h1 {
    color: #1C1D22;
    font-family: 'Poppins', sans-serif;
}

.h1-cadastro {
    color: #1C1D22;
    font-size: 90px;
    font-family: Exo 2;
    font-size: 122px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.h4-cadastro {
    font-size: 40px;
    color: #1C1D22;
}

.formulario {
    margin: 0 auto;
    text-align: center;
    background-color: #FFF;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.formulario h1 {
    margin-bottom: 50px;
}

.form-cadastro {
    width: 250px;
    display: flex;
    flex-direction: column;
    
}

.form-cadastro input {
    margin-bottom: 30px;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding-left: 5px;
    border: 0.5px solid #5B5B5B;
    font-size: 15px;
    color: #1C1D22;
}

.form-cadastro button {
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #007DFA;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-cadastro button:hover {
    background-color: #007DFA;
    transition: 0.17s;
}

.form-cadastro button:disabled {
    background-color: #007DFA;
    color: white;
    cursor: default;
}

.link {
    text-decoration: none;
    color: #BEBEBF;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    flex-direction: column;
    margin-top: 20px;
}

.titulo-azul {
    color: #007DFA;
}

.entrar-link{
    color: #007DFA;
}