.pagina {
    width: 100vw;
    height: 100vh;
    background-color: #091520;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #5B5B5B;
    border-radius: 10px;
}

.titulo-site {
    margin: 0 auto;
    text-align: center;
}

.h1-cadastro, .h4-cadastro, .formulario h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.h1-cadastro {
    font-size: 90px;
}

.h4-cadastro {
    font-size: 30px;
}

.borda {
    position: relative;
    top: 0;
    left: 0 auto;
    width: 1px;
    height: 100%;
    background-color: #5B5B5B;
}

.formulario {
    margin: 0 auto;
    text-align: center;
}

.formulario h1 {
    margin-bottom: 50px;
}

.form-cadastro {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.form-cadastro input {
    margin-bottom: 30px;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #5B5B5B;
    font-size: 15px;
    color: white;
}

.form-cadastro button {
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #4BB76F;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-cadastro button:hover {
    background-color: #368550;
    transition: 0.17s;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
}